body {
	font-family: Montserrat, sans-serif;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

p {
	line-height: 1.5;
	color: #8f8f8f;
}



/* sections */

.coloured-section {
	background-color: #ff4c68;
	color: white;
}

.white-section {
	background-color: white;
}

/* navigation bar */
nav.navbar {
	padding: 0;
}

.navbar-brand {
	font-family: Ubuntu, sans-serif;
	font-size: 2.3rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 100;
}


.big-heading {
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

.section-heading {
	font-size: 3rem;
	line-height: 1.5;
}

/* Download Buttons */

.download-button {
	margin: 5% 2% 10% 0;
}

/* Title image */
.title-image {
	position: absolute;
	right: 150px;
	top: 5px;
	transform: rotate(25deg);
	width: 60%;
}

/* features section */
#features {
	position: relative;
}

.feature-box i {
	color: #ef8172;
	margin-bottom: 15px;
	transition: color 0.3s ease-in-out;
}

.feature-box i:hover {
	color: #ff4c68;
}

.feature-title {
	font-size: 1.5rem;
}

/* testimonial section */
#testimonials {
	background-color: #ef8172;
}

.testimonial-text {
	font-size: 2.5rem;
	line-height: 1.5;
}

.testimonial-image {
	border-radius: 50%;
	width: 18%;
	margin: 20px;
}

/* press section */
#press {
	background-color: #ef8172;
}

.press-logo {
	width: 18%;
	margin: 20px 20px 50px;
}


/* pricing section */
.card-title {
	font-size: 2.5rem;
	line-height: 1.5;
}

@media screen and (max-width: 995px) {
	.title-image {
		position: static;
		transform: rotate(0);
	}
	
	#title {
		text-align: center;
	}
}